
nav{
    display: flex;
    border: thin solid black;
    padding: .5em;
    justify-content: space-between;
    
}
#menu{
    display: flex;
    align-items: flex-start;
}
header{
    padding-bottom:1em;
}
#logo{
    padding-right:3em;
}
h1{
    border-bottom: thin solid black;
}
main{
    width: 80%;
    margin: auto;
    display: flex;
    align-items: stretch;
}
#questionAnswers{
    padding:2em;
    
}
#destroy{
    clear:both;
    width: 80%;
    margin: auto;
   display: flex;
   align-content: flex-start;
}
.answerDivs{
padding: 1em;
background-color: lightgray;

margin:.5em;
}
.answerDivs:hover{
padding:1em;
background-color: lightgray;
opacity: .6;
margin:.5em;
}
#question{
    font-size: 24px;
    font-weight:bolder;
}
#result img{
    padding-top:2em;
    padding-bottom:1em;
}
#result{
    color:red;
}
#answers{
    margin-top:1em;
}
.danger{
    color:red;
}

#rightWrong{
    float: left;
    width: 40%;
    padding-left: 3em;
    padding-top: 3em;

}

#gif{
    align-self: flex-end;
}
#personStatus{
    padding-left:10em;
}
#timer{
    padding-left:1em;
    align-self: flex-end;
}
#start{
    align-self: flex-end;
    margin-left:1em;
}
@media (max-width:800px){
    main{
        flex-direction: column;
    }


}